h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

video,
img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

body {
  background: #F5F8FA;
}
body.is-clicked {
  overflow-y: hidden;
}

section + section {
  margin-top: 3rem;
}

.container {
  margin: 0 auto;
  width: calc(100% - 2rem);
}

/* padding */
/* gap */
/* humberger-nemu */
/* flex */
/* btn */
/* animation */
/* carousel */
@keyframes carousel {
  0% {
    transform: scale(1.1);
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  45% {
    transform: scale(1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
/* fade-in*/
@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
/* .l-header */
.l-header {
  height: 5rem;
  width: 100%;
  background: #F5F8FA;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
}
.l-header .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* logo */
  /* #pcl-nav */
  /* .c-hamburger-btn */
  /* sp-nav */
  /* .container.is-clicked */
}
.l-header .container h1 {
  position: relative;
  z-index: 2;
}
.l-header .container h1 a img {
  padding: 1rem 0;
}
.l-header .container #pcl-nav {
  display: none;
}
@media (min-width: 1440px) {
  .l-header .container #pcl-nav {
    display: block;
  }
}
.l-header .container #pcl-nav ul {
  display: flex;
  height: 2.5rem;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
}
.l-header .container #pcl-nav ul.top {
  font-weight: lighter;
}
.l-header .container #pcl-nav ul.top li a.colored {
  background: #f00;
  padding: 0 1rem;
  color: #fff;
  border-radius: 2rem;
}
.l-header .container .c-btn-hamburger {
  z-index: 2;
}
@media (min-width: 1440px) {
  .l-header .container .c-btn-hamburger {
    display: none;
  }
}
.l-header .container #sp-nav {
  padding-top: 5rem;
  padding-bottom: 5rem;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  width: 100%;
  display: none;
  height: calc(100vh - 6rem);
  overflow: scroll;
  min-height: 100vh;
}
.l-header .container #sp-nav .accordion {
  font-weight: bold;
}
.l-header .container #sp-nav > ul {
  margin: 2rem 1rem 0;
  border-bottom: 1px solid #ddd;
}
.l-header .container #sp-nav > ul li + li {
  margin-top: 1rem;
}
.l-header .container #sp-nav > p {
  text-align: center;
  padding: 2rem;
}
.l-header .container #sp-nav .bottom {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
}
.l-header .container #sp-nav .bottom a {
  text-align: center;
  flex: 1;
  padding: 2rem;
  background: #4082C4;
  color: #fff;
  font-weight: bold;
}
.l-header .container #sp-nav .bottom a:nth-child(2) {
  background: #f00;
}
.l-header .container::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  display: none;
}
.l-header .container.is-clicked .c-btn-hamburger .icon span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, 0) rotateY(180deg) rotate(135deg);
}
.l-header .container.is-clicked .c-btn-hamburger .icon span:nth-child(2) {
  opacity: 0;
}
.l-header .container.is-clicked .c-btn-hamburger .icon span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, 0) rotateY(-180deg) rotate(-135deg);
}
.l-header .container.is-clicked .c-btn-hamburger .text P {
  transform: translateY(-1rem);
}
.l-header .container.is-clicked #sp-nav {
  display: block;
  animation: fade-in 0.3s;
}
.l-header .container.is-clicked::after {
  display: block;
  animation: fade-in 0.3s;
}

/* .l-aside */
.l-aside {
  position: relative;
  z-index: 2;
}
.l-aside .content {
  width: 320px;
  height: calc(100vh - 5rem);
  border-radius: 2rem 2rem 0 0;
  user-select: none;
  position: fixed;
  background: #fff;
  box-shadow: 0 0 4px #ddd;
  z-index: 2;
  bottom: calc(-100vh + 5rem + 69px);
  right: 50%;
  transform: translate(50%, 0);
}
@media (min-width: 768px) {
  .l-aside .content {
    right: 1rem;
    transform: none;
  }
}
@media (min-width: 1440px) {
  .l-aside .content {
    bottom: 0;
  }
}
.l-aside .content button {
  display: block;
  width: 100%;
  border-bottom: 1px solid #ddd;
  padding: 1rem;
  font-weight: bold;
  font-size: 1.5rem;
}
@media (min-width: 1440px) {
  .l-aside .content button {
    pointer-events: none;
  }
}
.l-aside .content button i {
  margin-right: 0.5rem;
}
.l-aside .content .p-menu menu {
  margin: 1rem;
}
.l-aside #mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4666666667);
  z-index: 1;
  opacity: 0;
  pointer-events: none;
}
.l-aside.is-scrolled .content {
  bottom: calc(-100vh + 5rem + 69px);
}
.l-aside.is-scrolled .content button {
  pointer-events: auto;
}
.l-aside.is-clicked {
  z-index: 4;
}
.l-aside.is-clicked .content {
  bottom: 0;
}
.l-aside.is-clicked #mask {
  opacity: 1;
  pointer-events: auto;
}

/* footer */
/* #footer */
.l-footer {
  background: #fff;
}
.l-footer .container .footer__link {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
@media (min-width: 1024px) {
  .l-footer .container .footer__link {
    grid-template-columns: repeat(5, 1fr);
  }
}
.l-footer .container .footer__link li {
  text-align: center;
  margin: 1rem 0;
}
.l-footer .container .footer__link li a {
  padding: 0 1rem;
}
.l-footer .container .footer__link li:nth-child(even) {
  border-left: 2px dashed #ddd;
}
@media (min-width: 1024px) {
  .l-footer .container .footer__link li + li {
    border-left: 2px dashed #ddd;
  }
}
.l-footer .container .footer__body {
  margin-top: 2rem;
  display: grid;
  gap: 1rem;
  grid-template: "h" auto "a" auto "u" auto/1fr;
}
@media (min-width: 768px) {
  .l-footer .container .footer__body {
    gap: 1.5rem;
  }
}
@media (min-width: 1024px) {
  .l-footer .container .footer__body {
    gap: 2rem;
  }
}
@media (min-width: 1440px) {
  .l-footer .container .footer__body {
    gap: 2.5rem;
  }
}
@media (min-width: 768px) {
  .l-footer .container .footer__body {
    grid-template: "h h" auto "a u" auto/1fr auto;
  }
}
.l-footer .container .footer__body img {
  grid-area: h;
}
.l-footer .container .footer__body address {
  grid-area: a;
}
.l-footer .container .footer__body address dl div {
  display: flex;
  flex-wrap: wrap;
  gap: 0rem;
  justify-content: flex-end;
  margin-top: 1rem;
}
.l-footer .container .footer__body address dl div dt {
  width: 10rem;
}
.l-footer .container .footer__body address dl div dd {
  width: calc(100% - 10rem);
  padding-left: 1rem;
  font-weight: bold;
}
.l-footer .container .footer__body ul {
  grid-area: u;
}
.l-footer .container small {
  display: block;
  text-align: center;
  padding: 2rem;
}

/* .c-btn */
.c-btn-hamburger {
  width: 3rem;
  height: 3rem;
  position: relative;
}
.c-btn-hamburger .icon {
  width: 3rem;
  height: 2rem;
  position: relative;
}
.c-btn-hamburger .icon span {
  display: block;
  background: #000;
  width: 3rem;
  height: 2px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}
.c-btn-hamburger .icon span:nth-child(1) {
  top: 25%;
}
.c-btn-hamburger .icon span:nth-child(2) {
  top: 50%;
}
.c-btn-hamburger .icon span:nth-child(3) {
  top: 75%;
}
.c-btn-hamburger .text {
  width: 3rem;
  height: 1rem;
  overflow: hidden;
}
.c-btn-hamburger .text p {
  height: 1rem;
  width: 3rem;
  line-height: 1rem;
  text-align: center;
}

.c-btn-round {
  display: inline-block;
  padding: 1rem;
  text-align: center;
  border-radius: 1rem;
  color: #fff;
  background: #4082C4;
}
.c-btn-round--red {
  background: #D30000;
}

.c-btn-menu {
  padding: 1rem;
  border: 1px solid #fff;
  border-radius: 3rem;
  margin-top: 1rem;
  background: transparent;
  color: #fff;
  display: inline-flex;
  align-items: center;
}
.c-btn-menu i {
  margin-left: 1rem;
}
.c-btn-menu i::before {
  color: #fff;
}
@container (width > 768px) {
  .c-btn-menu:hover {
    background: #fff;
    color: #000;
  }
  .c-btn-menu:hover i::before {
    color: #000;
  }
}

.c-btn-index {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  overflow: hidden;
}
.c-btn-index > div {
  background: #68c25c;
  color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.c-btn-index > div i {
  font-size: 2.5rem;
  display: flex;
}
.c-btn-index .close {
  color: #68c25c;
  background: #fff;
}

.c-btn-secondary {
  font-size: 1.25rem;
  display: flex;
  align-items: center;
}
.c-btn-secondary i {
  margin-left: 1rem;
}
.c-btn-secondary:hover i {
  background: #4082C4;
  color: #fff;
}

.c-btn-third {
  padding: 1rem;
  border: 2px solid #ddd;
  border-radius: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
}
.c-btn-third i {
  color: #68c25c;
}
.c-btn-third:hover {
  background: #68c25c;
  color: #fff;
  border-color: #68c25c;
}
.c-btn-third:hover i {
  color: #fff;
}

/* icon */
.c-icon--fill {
  width: 3rem;
  height: 3rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #fff;
  border: 1px solid #fff;
  background: #4082C4;
}

.c-icon--round {
  width: 3rem;
  height: 3rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #4082C4;
  border: 1px solid #ddd;
  background: #fff;
}

.p-accordion {
  max-width: 585px;
  margin: 0 auto;
}
.p-accordion > div {
  border-bottom: 1px solid #ddd;
  padding-bottom: 1rem;
  padding: 1rem;
  display: grid;
  grid-template-rows: 0fr;
}
.p-accordion > div dt {
  position: relative;
  cursor: pointer;
  user-select: none;
  padding: 1rem;
}
.p-accordion > div dt::before {
  content: "";
  width: 2rem;
  height: 2px;
  background: #4082C4;
  display: block;
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translate(50%, -50%);
}
.p-accordion > div dt::after {
  content: "";
  width: 2px;
  height: 2rem;
  background: #4082C4;
  display: block;
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translate(50%, -50%);
}
.p-accordion > div dd {
  display: grid;
  grid-template-rows: 0fr;
}
.p-accordion > div dd .inner {
  overflow: hidden;
}
.p-accordion > div dd .inner a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem 1rem 2rem;
}
.p-accordion > div dd .inner a i {
  color: #4082C4;
}
.p-accordion > div.is-clicked dt::after {
  transform: translate(-50%, -50%) rotate(90deg);
}
.p-accordion > div.is-clicked dd {
  grid-template-rows: 1fr;
}

/* .p-btn-list */
.p-btn-list {
  padding: 0 1rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 1rem;
}
.p-btn-list li {
  text-align: center;
}

/* p-menu */
.p-menu {
  container-type: inline-size;
}
.p-menu menu {
  display: grid;
  grid-template: "on tw" auto "th fo" auto "fi si" auto/1fr 1fr;
  gap: 1rem;
}
@container (width >=425px) {
  .p-menu menu {
    gap: 1.5rem;
  }
}
@container (width >= 728px) {
  .p-menu menu {
    gap: 2rem;
  }
}
@container (width >=1024px) {
  .p-menu menu {
    gap: 2.5rem;
  }
}
@container (width >= 768px) {
  .p-menu menu {
    grid-template: "on tw th" auto "fo fi si" auto/1fr 1fr 1fr;
  }
}
@container (width >= 1024px) {
  .p-menu menu {
    grid-template: "on tw tw th" auto "fo fo fi si" auto/1fr 1fr 1fr 1fr;
  }
}
.p-menu menu > li {
  color: #fff;
  padding: 1rem;
  border-radius: 1rem;
  position: relative;
}
@container (width >=425px) {
  .p-menu menu > li {
    padding: 1.5rem;
  }
}
@container (width >= 728px) {
  .p-menu menu > li {
    padding: 2rem;
  }
}
@container (width >=1024px) {
  .p-menu menu > li {
    padding: 2.5rem;
  }
}
.p-menu menu > li:nth-child(1) {
  background: #68c25c;
}
.p-menu menu > li:nth-child(2) {
  background: #69c3d1;
}
.p-menu menu > li:nth-child(3) {
  background: #f4bb3e;
}
.p-menu menu > li:nth-child(4) {
  background: #ea8b39;
}
.p-menu menu > li:nth-child(5) {
  background: #b18fdd;
}
.p-menu menu > li:nth-child(6) {
  background: #4082c4;
}
@container (width <=768px) {
  .p-menu menu > li {
    aspect-ratio: 4/3;
  }
}
.p-menu menu > li h2 {
  font-size: 2rem;
}
@container (width <= 425px) {
  .p-menu menu > li h2 {
    font-size: 1.5rem;
  }
}
@container (width <=768px) {
  .p-menu menu > li h2 {
    position: absolute;
    z-index: 2;
    top: 50%;
    transform: translate(0, -50%);
  }
}
.p-menu menu > li h2 i {
  margin-right: 1rem;
}
@container (width <= 768px) {
  .p-menu menu > li h2 i {
    display: none;
  }
}
.p-menu menu > li ul {
  position: relative;
  z-index: 2;
}
@container (width <=768px) {
  .p-menu menu > li ul {
    display: none;
  }
}
.p-menu menu > li ul > li {
  border-bottom: 1px solid #fff;
}
.p-menu menu > li ul > li a {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}
.p-menu menu > li .c-btn-menu {
  position: relative;
  z-index: 2;
}
@container (width <=768px) {
  .p-menu menu > li .c-btn-menu {
    border: none;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}
@container (width <=768px) {
  .p-menu menu > li .c-btn-menu span {
    display: none;
  }
}
.p-menu menu > li .c-btn-menu i {
  font-size: 1.5rem;
}
@container (width <=768px) {
  .p-menu menu > li .c-btn-menu i {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
  }
}
.p-menu menu > li svg {
  position: absolute;
  bottom: 0;
  right: 0;
  height: calc(100% - 1rem);
  width: 50%;
  opacity: 0.2;
  z-index: 1;
  fill: #fff;
}
.p-menu menu > li:nth-child(1) {
  grid-area: on;
}
.p-menu menu > li:nth-child(2) {
  grid-area: tw;
}
.p-menu menu > li:nth-child(3) {
  grid-area: th;
}
.p-menu menu > li:nth-child(4) {
  grid-area: fo;
}
.p-menu menu > li:nth-child(5) {
  grid-area: fi;
}
.p-menu menu > li:nth-child(6) {
  grid-area: si;
}

.dropdown {
  font-weight: bold;
}
.dropdown li {
  position: relative;
}
.dropdown li svg {
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
}
.dropdown li dl {
  width: 320px;
  padding: 2rem;
  border-radius: 2rem;
  background: #fff;
  position: absolute;
  top: 3rem;
  right: -1rem;
  box-shadow: 0 0 4px #ddd;
  opacity: 0;
  pointer-events: none;
}
.dropdown li dl dt {
  padding: 1rem 0;
}
.dropdown li dl dt a {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}
.dropdown li dl dd {
  border-top: 1px solid #ddd;
  position: relative;
}
.dropdown li dl dd a {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dropdown li dl dd a:hover i {
  transform: translateX(0.5rem);
}
.dropdown li dl dd:last-child {
  border-bottom: 1px solid #ddd;
}
.dropdown li dl::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 3rem;
  top: -1.5rem;
  left: 0;
  opacity: 0.3;
}
.dropdown li dl::after {
  content: "";
  position: absolute;
  top: -3rem;
  right: 1.75rem;
  z-index: 2;
  display: inline-block;
  border-top: 1.5rem solid transparent;
  border-bottom: 1.5rem solid #fff;
  border-left: 1.5rem solid transparent;
  border-right: 1.5rem solid transparent;
}
.dropdown li:hover dl {
  display: block;
  opacity: 1;
  pointer-events: auto;
}
.dropdown li:nth-child(1) svg {
  fill: #68c25c;
}
.dropdown li:nth-child(1) i {
  color: #68c25c;
}
.dropdown li:nth-child(2) svg {
  fill: #69c3d1;
}
.dropdown li:nth-child(2) i {
  color: #69c3d1;
}
.dropdown li:nth-child(3) svg {
  fill: #f4bb3e;
}
.dropdown li:nth-child(3) i {
  color: #f4bb3e;
}
.dropdown li:nth-child(4) svg {
  fill: #ea8b39;
}
.dropdown li:nth-child(4) i {
  color: #ea8b39;
}
.dropdown li:nth-child(5) svg {
  fill: #b18fdd;
}
.dropdown li:nth-child(5) i {
  color: #b18fdd;
}
.dropdown li:nth-child(6) svg {
  fill: #4082c4;
}
.dropdown li:nth-child(6) i {
  color: #4082c4;
}

.p-sub-aside > ul {
  width: 280px;
  position: fixed;
  right: 1rem;
  bottom: 9rem;
  opacity: 0;
  pointer-events: none;
  z-index: 2;
}
@media (min-width: 1440px) {
  .p-sub-aside > ul {
    opacity: 1;
    position: sticky;
    right: auto;
    bottom: auto;
    top: 0;
    pointer-events: auto;
    padding-top: 200px;
  }
}
.p-sub-aside > ul > li {
  padding: 1rem 1rem 1rem 0;
  font-size: 1.5rem;
  border-top: 1px solid #ddd;
  position: relative;
  z-index: 2;
}
.p-sub-aside > ul > li a {
  padding: 1rem;
  display: block;
  border-radius: 0 1rem 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.p-sub-aside > ul > li a i {
  color: #68c25c;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.p-sub-aside > ul > li a.is-actived {
  background: #68c25c;
  color: #fff;
}
.p-sub-aside > ul > li a.is-actived i {
  background: #68c25c;
  color: #fff;
  border-color: #fff;
}
.p-sub-aside > ul > li .p-drop-down {
  display: grid;
  grid-template-rows: 0fr;
}
.p-sub-aside > ul > li .p-drop-down > div {
  overflow: hidden;
}
.p-sub-aside > ul > li:hover .p-drop-down {
  grid-template-rows: 1fr;
}
.p-sub-aside > ul > li:last-child a {
  justify-content: center;
}
.p-sub-aside > ul > li:last-child a i {
  margin-right: 0.5rem;
}
.p-sub-aside .mask {
  background: rgba(221, 221, 221, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  opacity: 0;
  pointer-events: none;
}
.p-sub-aside button {
  position: fixed;
  bottom: 5rem;
  right: 1rem;
  z-index: 2;
}
@media (min-width: 1440px) {
  .p-sub-aside button {
    display: none;
  }
}
.p-sub-aside.is-clicked ul {
  position: fixed;
  opacity: 1;
  pointer-events: auto;
}
.p-sub-aside.is-clicked ul li {
  border-top: 1px solid #fff;
}
.p-sub-aside.is-clicked ul li a {
  border-radius: 1rem;
}
.p-sub-aside.is-clicked .mask {
  opacity: 1;
  pointer-events: auto;
}
.p-sub-aside.is-clicked button > div {
  transform: translateY(-5rem);
}

.p-time-info__left {
  background: #fff;
  padding: 1rem;
  border-radius: 1rem;
  display: grid;
  gap: 1rem;
  grid-template: "h h" "t t" "f f" "... a"/1fr auto;
}
@media (min-width: 768px) {
  .p-time-info__left {
    padding: 1.5rem;
  }
}
@media (min-width: 1024px) {
  .p-time-info__left {
    padding: 2rem;
  }
}
@media (min-width: 1440px) {
  .p-time-info__left {
    padding: 2.5rem;
  }
}
@media (min-width: 768px) {
  .p-time-info__left {
    gap: 1.5rem;
  }
}
@media (min-width: 1024px) {
  .p-time-info__left {
    gap: 2rem;
  }
}
@media (min-width: 1440px) {
  .p-time-info__left {
    gap: 2.5rem;
  }
}
.p-time-info__left h2 {
  grid-area: h;
}
.p-time-info__left h2 i {
  margin-right: 1rem;
}
.p-time-info__left .table {
  grid-area: t;
}
.p-time-info__left .table table {
  border-collapse: collapse;
  border: 1px solid #ddd;
  width: 100%;
  text-align: center;
  font-weight: bold;
}
.p-time-info__left .table table thead {
  background: #ccc;
}
.p-time-info__left .table table thead tr th {
  padding: 0.5rem;
}
.p-time-info__left .table table thead tr th + th {
  border-left: 1px solid #ddd;
}
.p-time-info__left .table table tbody tr td {
  padding: 0.5rem;
}
.p-time-info__left .table table tbody tr td + td {
  border-left: 1px dashed #ccc;
}
.p-time-info__left .table table tbody tr + tr {
  border-top: 1px solid #ddd;
}
.p-time-info__left footer {
  grid-area: f;
}
.p-time-info__left footer p {
  margin-top: 1rem;
}
.p-time-info__left footer p:nth-child(2) {
  color: red;
}
.p-time-info__left a {
  grid-area: a;
}

.p-tab-menu .tab-buttons {
  display: flex;
}
.p-tab-menu .tab-buttons li {
  flex: 1;
}
.p-tab-menu .tab-buttons li a {
  width: 100%;
  border-radius: 1rem 1rem 0 0;
  padding: 1rem;
  text-align: center;
  background: #ddd;
  border: 4px solid #ddd;
  border-bottom: none;
}
.p-tab-menu .tab-buttons li a.is-actived {
  border: 4px solid #68c25c;
  border-bottom: none;
  background: #e0f3de;
}
.p-tab-menu .tab-contents {
  border-top: none;
}
.p-tab-menu .tab-contents > li {
  padding: 1rem;
  background: #e0f3de;
  border-radius: 0 0 1rem 1rem;
  display: none;
}
.p-tab-menu .tab-contents > li ol {
  padding-left: 4rem;
  position: relative;
  counter-reset: number;
}
.p-tab-menu .tab-contents > li ol li {
  position: relative;
  counter-increment: number;
  padding-bottom: 1rem;
}
.p-tab-menu .tab-contents > li ol li::before {
  content: counter(number);
  color: #68c25c;
  width: 2rem;
  height: 2rem;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  top: 0rem;
  left: -2rem;
  transform: translate(-50%, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.p-tab-menu .tab-contents > li ol li:not(:last-child)::after {
  content: "";
  display: block;
  background: #ddd;
  width: 1px;
  height: 100%;
  position: absolute;
  top: 0;
  left: -2rem;
  z-index: 1;
}
.p-tab-menu .tab-contents > li.is-actived {
  display: block;
}

.u-d-none {
  display: none;
}

@media (min-width: 768px) {
  .u-d-md-block {
    display: block;
  }
}

@media (min-width: 768px) {
  .u-d-md-none {
    display: none;
  }
}

@media (min-width: 768px) {
  .u-d-md-table {
    display: table;
  }
}

@media (min-width: 768px) {
  .u-d-md-inline-block {
    display: inline-block;
  }
}

.u-color-red {
  color: red;
}

/* common */
body {
  background: #fff;
  display: grid;
  grid-template: "header header" 5rem "hero hero" auto "sub-aside main" auto "footer footer" auto/280px 1fr;
}

h2 {
  padding: 4rem 0 1rem;
  position: relative;
}
h2::before {
  content: "";
  display: block;
  background: #ddd;
  width: 100%;
  height: 4px;
  position: absolute;
  top: 3rem;
  left: 0;
}
h2::after {
  content: "";
  display: block;
  background: #68c25c;
  width: 6rem;
  height: 4px;
  position: absolute;
  top: 3rem;
  left: 0;
}

h3 {
  padding: 2rem 0 1rem;
}
h3 i {
  margin-right: 0.5rem;
  color: #68c25c;
}

section section {
  max-width: 900px;
  margin: 0 auto;
}

.l-header {
  grid-area: header;
}

.l-aside .content {
  bottom: calc(-100vh + 5rem + 69px);
}
.l-aside .content button {
  pointer-events: auto;
}

.p-sub-aside {
  grid-area: sub-aside;
  position: relative;
  z-index: 2;
}

main {
  grid-area: main;
  position: relative;
  z-index: 1;
  flex: 1;
  border-left: 1px solid #ddd;
}
main .container {
  max-width: 1000px;
}

/* hero */
.hero {
  grid-area: hero;
  height: 400px;
  background-image: url("../img/mv/hero-sp-img.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 768px) {
  .hero {
    height: 560px;
    background-image: url("../img/mv/hero-tb-img.png");
  }
}

/* .breadcrumb */
.breadcrumb {
  height: 200px;
  padding-right: 4rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* #reception */
#reception .caution {
  background: #ddd;
  padding: 1rem;
  border-radius: 1rem;
}
#reception .caution p {
  color: #68c25c;
  font-size: 1.5rem;
}
#reception .caution p i {
  margin-right: 0.5rem;
}
#reception .caution p:nth-child(2) {
  color: #D30000;
  font-size: 1rem;
}

/* #propaty */
#propaty dl {
  border: 1px solid #ddd;
}
#propaty dl > div {
  display: flex;
  flex-wrap: wrap;
}
#propaty dl > div dt {
  width: 100%;
  padding: 1rem;
  text-align: center;
}
@media (min-width: 768px) {
  #propaty dl > div dt {
    width: 300px;
  }
}
#propaty dl > div dd {
  padding: 1rem;
  width: 100%;
  border-top: 1px dashed #ddd;
}
@media (min-width: 768px) {
  #propaty dl > div dd {
    border-top: none;
    border-left: 1px dashed #ddd;
    width: calc(100% - 300px);
  }
}
#propaty dl > div + div {
  border-top: 1px solid #ddd;
}

/* #flow */
#flow {
  /* #content03 */
}
#flow header .row {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}
@media (min-width: 768px) {
  #flow header .row {
    gap: 1.5rem;
  }
}
@media (min-width: 1024px) {
  #flow header .row {
    gap: 2rem;
  }
}
@media (min-width: 1440px) {
  #flow header .row {
    gap: 2.5rem;
  }
}
@media (min-width: 768px) {
  #flow header .row {
    grid-template-columns: repeat(2, 1fr);
  }
}
#flow header .row img {
  border-radius: 1rem;
}
#flow header .row dl {
  background: #ddd;
  border-radius: 1rem;
  padding: 1rem;
}
#flow header .row dl dt {
  font-size: 1.5rem;
  color: #68c25c;
  margin-bottom: 1.5rem;
}
#flow header .row dl dt i {
  margin-right: 0.5rem;
}
#flow header .row dl dd::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  background: #68c25c;
  border-radius: 50%;
  margin-right: 0.5rem;
}
#flow header .row dl dd + dd {
  margin-top: 1rem;
}
#flow header ul {
  display: grid;
  margin-top: 1rem;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
@media (min-width: 768px) {
  #flow header ul {
    gap: 1.5rem;
  }
}
@media (min-width: 1024px) {
  #flow header ul {
    gap: 2rem;
  }
}
@media (min-width: 1440px) {
  #flow header ul {
    gap: 2.5rem;
  }
}
@media (min-width: 768px) {
  #flow header ul {
    grid-template-columns: repeat(3, 1fr);
  }
}
#flow #content3 .body {
  background: #e0f3de;
  padding: 2rem;
  border-radius: 1rem;
}
#flow #content3 .body h4 {
  color: #68c25c;
}
#flow #content3 .body p {
  margin-top: 2rem;
}
#flow #content3 .body ul {
  margin-top: 2rem;
  padding-left: 1rem;
}
#flow #content3 .body ul li {
  list-style-type: disc;
}
#flow #content3 .body ul li::marker {
  color: #68c25c;
}
#flow #content3 .body ul li + li {
  margin-top: 1rem;
}

/* #payment */
#payment dl {
  border: 1px solid #ddd;
  text-align: center;
}
@media (min-width: 768px) {
  #payment dl {
    display: none;
  }
}
#payment dl dt {
  background: #e0f3de;
  padding: 1rem;
}
#payment dl dd {
  border-top: 1px dashed #ddd;
  padding: 1rem;
}
#payment table {
  border-collapse: collapse;
  border: 2px solid #ddd;
  margin: 1rem 0;
  display: none;
}
@media (min-width: 768px) {
  #payment table {
    display: table;
  }
}
#payment table thead {
  background: #e0f3de;
}
#payment table thead tr th {
  padding: 1rem;
}
#payment table thead tr th + th {
  border-left: 2px dashed #ddd;
}
#payment table tbody tr td {
  padding: 1rem;
}
#payment table tbody tr td + td {
  border-left: 2px dashed #ddd;
}
#payment p {
  color: red;
  margin-top: 1rem;
}

/* #contact */
#contact .container {
  text-align: center;
  border: 2px solid #ddd;
  border-radius: 1rem;
  margin-top: 2rem;
  position: relative;
  padding: 1rem 1rem 4rem;
}
@media (min-width: 768px) {
  #contact .container {
    padding: 2rem 4rem;
  }
}
#contact .container h3 i {
  color: inherit;
}
#contact .container .body {
  margin-top: 2rem;
}
#contact .container .body p:nth-child(1) {
  font-weight: bold;
}
#contact .container .body p:nth-child(2) {
  color: #68c25c;
  font-size: 2rem;
}
#contact .container .body p:nth-child(2) a {
  font-size: inherit;
  text-decoration: underline;
}
#contact .container .body p:nth-child(3) {
  margin-top: 1rem;
}
#contact .container > a {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  z-index: 2;
}
#contact .container svg {
  fill: #68c25c;
  opacity: 0.2;
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  z-index: 1;
}

/* #relation */
#relation {
  background: #e0f3de;
  padding: 3rem 1rem;
  margin-top: 3rem;
}
#relation ul {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  font-weight: bold;
}
@media (min-width: 768px) {
  #relation ul {
    gap: 1.5rem;
  }
}
@media (min-width: 1024px) {
  #relation ul {
    gap: 2rem;
  }
}
@media (min-width: 1440px) {
  #relation ul {
    gap: 2.5rem;
  }
}
@media (min-width: 768px) {
  #relation ul {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* footer */
.l-footer {
  grid-area: footer;
}

/*# sourceMappingURL=page.css.map */
