h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

video,
img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

body {
  background: #F5F8FA;
}
body.is-clicked {
  overflow-y: hidden;
}

section + section {
  margin-top: 3rem;
}

.container {
  margin: 0 auto;
  width: calc(100% - 2rem);
}

/* padding */
/* gap */
/* humberger-nemu */
/* flex */
/* btn */
/* animation */
/* carousel */
@keyframes carousel {
  0% {
    transform: scale(1.1);
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  45% {
    transform: scale(1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
/* fade-in*/
@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
/* .l-header */
.l-header {
  height: 5rem;
  width: 100%;
  background: #F5F8FA;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
}
.l-header .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* logo */
  /* #pcl-nav */
  /* .c-hamburger-btn */
  /* sp-nav */
  /* .container.is-clicked */
}
.l-header .container h1 {
  position: relative;
  z-index: 2;
}
.l-header .container h1 a img {
  padding: 1rem 0;
}
.l-header .container #pcl-nav {
  display: none;
}
@media (min-width: 1440px) {
  .l-header .container #pcl-nav {
    display: block;
  }
}
.l-header .container #pcl-nav ul {
  display: flex;
  height: 2.5rem;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
}
.l-header .container #pcl-nav ul.top {
  font-weight: lighter;
}
.l-header .container #pcl-nav ul.top li a.colored {
  background: #f00;
  padding: 0 1rem;
  color: #fff;
  border-radius: 2rem;
}
.l-header .container .c-btn-hamburger {
  z-index: 2;
}
@media (min-width: 1440px) {
  .l-header .container .c-btn-hamburger {
    display: none;
  }
}
.l-header .container #sp-nav {
  padding-top: 5rem;
  padding-bottom: 5rem;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  width: 100%;
  display: none;
  height: calc(100dvh - 6rem);
  overflow: scroll;
  min-height: 100dvh;
}
.l-header .container #sp-nav .accordion {
  font-weight: bold;
}
.l-header .container #sp-nav > ul {
  margin: 2rem 1rem 0;
  border-bottom: 1px solid #ddd;
}
.l-header .container #sp-nav > ul li + li {
  margin-top: 1rem;
}
.l-header .container #sp-nav > p {
  text-align: center;
  padding: 2rem;
}
.l-header .container #sp-nav .bottom {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
}
.l-header .container #sp-nav .bottom a {
  text-align: center;
  flex: 1;
  padding: 2rem;
  background: #4082C4;
  color: #fff;
  font-weight: bold;
}
.l-header .container #sp-nav .bottom a:nth-child(2) {
  background: #f00;
}
.l-header .container::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  display: none;
}
.l-header .container.is-clicked .c-btn-hamburger .icon span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, 0) rotateY(180deg) rotate(135deg);
}
.l-header .container.is-clicked .c-btn-hamburger .icon span:nth-child(2) {
  opacity: 0;
}
.l-header .container.is-clicked .c-btn-hamburger .icon span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, 0) rotateY(-180deg) rotate(-135deg);
}
.l-header .container.is-clicked .c-btn-hamburger .text P {
  transform: translateY(-1rem);
}
.l-header .container.is-clicked #sp-nav {
  display: block;
  animation: fade-in 0.3s;
}
.l-header .container.is-clicked::after {
  display: block;
  animation: fade-in 0.3s;
}

/* .l-aside */
.l-aside {
  position: relative;
  z-index: 2;
}
.l-aside .content {
  width: 320px;
  height: calc(100dvh - 5rem);
  border-radius: 2rem 2rem 0 0;
  user-select: none;
  position: fixed;
  background: #fff;
  box-shadow: 0 0 4px #ddd;
  z-index: 2;
  bottom: calc(-100dvh + 5rem + 69px);
  right: 50%;
  transform: translate(50%, 0);
}
@media (min-width: 768px) {
  .l-aside .content {
    right: 1rem;
    transform: none;
  }
}
@media (min-width: 1440px) {
  .l-aside .content {
    bottom: 0;
  }
}
.l-aside .content button {
  display: block;
  width: 100%;
  border-bottom: 1px solid #ddd;
  padding: 1rem;
  font-weight: bold;
  font-size: 1.5rem;
}
@media (min-width: 1440px) {
  .l-aside .content button {
    pointer-events: none;
  }
}
.l-aside .content button i {
  margin-right: 0.5rem;
}
.l-aside .content .p-menu menu {
  margin: 1rem;
}
.l-aside #mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4666666667);
  z-index: 1;
  opacity: 0;
  pointer-events: none;
}
.l-aside.is-scrolled .content {
  bottom: calc(-100dvh + 5rem + 69px);
}
.l-aside.is-scrolled .content button {
  pointer-events: auto;
}
.l-aside.is-clicked {
  z-index: 4;
}
.l-aside.is-clicked .content {
  bottom: 0;
}
.l-aside.is-clicked #mask {
  opacity: 1;
  pointer-events: auto;
}

/* footer */
/* #footer */
.l-footer {
  background: #fff;
}
.l-footer .container .footer__link {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
@media (min-width: 1024px) {
  .l-footer .container .footer__link {
    grid-template-columns: repeat(5, 1fr);
  }
}
.l-footer .container .footer__link li {
  text-align: center;
  margin: 1rem 0;
}
.l-footer .container .footer__link li a {
  padding: 0 1rem;
}
.l-footer .container .footer__link li:nth-child(even) {
  border-left: 2px dashed #ddd;
}
@media (min-width: 1024px) {
  .l-footer .container .footer__link li + li {
    border-left: 2px dashed #ddd;
  }
}
.l-footer .container .footer__body {
  margin-top: 2rem;
  display: grid;
  gap: 1rem;
  grid-template: "h" auto "a" auto "u" auto/1fr;
}
@media (min-width: 768px) {
  .l-footer .container .footer__body {
    gap: 1.5rem;
  }
}
@media (min-width: 1024px) {
  .l-footer .container .footer__body {
    gap: 2rem;
  }
}
@media (min-width: 1440px) {
  .l-footer .container .footer__body {
    gap: 2.5rem;
  }
}
@media (min-width: 768px) {
  .l-footer .container .footer__body {
    grid-template: "h h" auto "a u" auto/1fr auto;
  }
}
.l-footer .container .footer__body img {
  grid-area: h;
}
.l-footer .container .footer__body address {
  grid-area: a;
}
.l-footer .container .footer__body address dl div {
  display: flex;
  flex-wrap: wrap;
  gap: 0rem;
  justify-content: flex-end;
  margin-top: 1rem;
}
.l-footer .container .footer__body address dl div dt {
  width: 10rem;
}
.l-footer .container .footer__body address dl div dd {
  width: calc(100% - 10rem);
  padding-left: 1rem;
  font-weight: bold;
}
.l-footer .container .footer__body ul {
  grid-area: u;
}
.l-footer .container small {
  display: block;
  text-align: center;
  padding: 2rem;
}

/* .c-btn */
.c-btn-hamburger {
  width: 3rem;
  height: 3rem;
  position: relative;
}
.c-btn-hamburger .icon {
  width: 3rem;
  height: 2rem;
  position: relative;
}
.c-btn-hamburger .icon span {
  display: block;
  background: #000;
  width: 3rem;
  height: 2px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}
.c-btn-hamburger .icon span:nth-child(1) {
  top: 25%;
}
.c-btn-hamburger .icon span:nth-child(2) {
  top: 50%;
}
.c-btn-hamburger .icon span:nth-child(3) {
  top: 75%;
}
.c-btn-hamburger .text {
  width: 3rem;
  height: 1rem;
  overflow: hidden;
}
.c-btn-hamburger .text p {
  height: 1rem;
  width: 3rem;
  line-height: 1rem;
  text-align: center;
}

.c-btn-round {
  display: inline-block;
  padding: 1rem;
  text-align: center;
  border-radius: 1rem;
  color: #fff;
  background: #4082C4;
}
.c-btn-round--red {
  background: #D30000;
}

.c-btn-menu {
  padding: 1rem;
  border: 1px solid #fff;
  border-radius: 3rem;
  margin-top: 1rem;
  background: transparent;
  color: #fff;
  display: inline-flex;
  align-items: center;
}
.c-btn-menu i {
  margin-left: 1rem;
}
.c-btn-menu i::before {
  color: #fff;
}
@container (width > 768px) {
  .c-btn-menu:hover {
    background: #fff;
    color: #000;
  }
  .c-btn-menu:hover i::before {
    color: #000;
  }
}

.c-btn-index {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  overflow: hidden;
}
.c-btn-index > div {
  background: #68c25c;
  color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.c-btn-index > div i {
  font-size: 2.5rem;
  display: flex;
}
.c-btn-index .close {
  color: #68c25c;
  background: #fff;
}
.c-btn-index:hover {
  opacity: 1;
}
.c-btn-index:active {
  opacity: 1;
}

.c-btn-secondary {
  font-size: 1.25rem;
  display: flex;
  align-items: center;
}
.c-btn-secondary i {
  margin-left: 1rem;
}
.c-btn-secondary:hover i {
  background: #4082C4;
  color: #fff;
}

.c-btn-third {
  padding: 1rem;
  border: 2px solid #ddd;
  border-radius: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
}
.c-btn-third i {
  color: #68c25c;
}
.c-btn-third:hover {
  background: #68c25c;
  color: #fff;
  border-color: #68c25c;
}
.c-btn-third:hover i {
  color: #fff;
}

/* icon */
.c-icon--fill {
  width: 3rem;
  height: 3rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #fff;
  border: 1px solid #fff;
  background: #4082C4;
}

.c-icon--round {
  width: 3rem;
  height: 3rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #4082C4;
  border: 1px solid #ddd;
  background: #fff;
}

.p-accordion {
  max-width: 585px;
  margin: 0 auto;
}
.p-accordion > div {
  border-bottom: 1px solid #ddd;
  padding-bottom: 1rem;
  padding: 1rem;
  display: grid;
  grid-template-rows: 0fr;
}
.p-accordion > div dt {
  position: relative;
  cursor: pointer;
  user-select: none;
  padding: 1rem;
}
.p-accordion > div dt::before {
  content: "";
  width: 2rem;
  height: 2px;
  background: #4082C4;
  display: block;
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translate(50%, -50%);
}
.p-accordion > div dt::after {
  content: "";
  width: 2px;
  height: 2rem;
  background: #4082C4;
  display: block;
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translate(50%, -50%);
}
.p-accordion > div dd {
  display: grid;
  grid-template-rows: 0fr;
}
.p-accordion > div dd .inner {
  overflow: hidden;
}
.p-accordion > div dd .inner a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem 1rem 2rem;
}
.p-accordion > div dd .inner a i {
  color: #4082C4;
}
.p-accordion > div.is-clicked dt::after {
  transform: translate(-50%, -50%) rotate(90deg);
}
.p-accordion > div.is-clicked dd {
  grid-template-rows: 1fr;
}

/* .p-btn-list */
.p-btn-list {
  padding: 0 1rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 1rem;
}
.p-btn-list li {
  text-align: center;
}

/* p-menu */
.p-menu {
  container-type: inline-size;
}
.p-menu menu {
  display: grid;
  grid-template: "on tw" auto "th fo" auto "fi si" auto/1fr 1fr;
  gap: 1rem;
}
@container (width >=425px) {
  .p-menu menu {
    gap: 1.5rem;
  }
}
@container (width >= 728px) {
  .p-menu menu {
    gap: 2rem;
  }
}
@container (width >=1024px) {
  .p-menu menu {
    gap: 2.5rem;
  }
}
@container (width >= 768px) {
  .p-menu menu {
    grid-template: "on tw th" auto "fo fi si" auto/1fr 1fr 1fr;
  }
}
@container (width >= 1024px) {
  .p-menu menu {
    grid-template: "on tw tw th" auto "fo fo fi si" auto/1fr 1fr 1fr 1fr;
  }
}
.p-menu menu > li {
  color: #fff;
  padding: 1rem;
  border-radius: 1rem;
  position: relative;
}
@container (width >=425px) {
  .p-menu menu > li {
    padding: 1.5rem;
  }
}
@container (width >= 728px) {
  .p-menu menu > li {
    padding: 2rem;
  }
}
@container (width >=1024px) {
  .p-menu menu > li {
    padding: 2.5rem;
  }
}
.p-menu menu > li:nth-child(1) {
  background: #68c25c;
}
.p-menu menu > li:nth-child(2) {
  background: #69c3d1;
}
.p-menu menu > li:nth-child(3) {
  background: #f4bb3e;
}
.p-menu menu > li:nth-child(4) {
  background: #ea8b39;
}
.p-menu menu > li:nth-child(5) {
  background: #b18fdd;
}
.p-menu menu > li:nth-child(6) {
  background: #4082c4;
}
@container (width <=768px) {
  .p-menu menu > li {
    aspect-ratio: 4/3;
  }
}
.p-menu menu > li h2 {
  font-size: 2rem;
}
@container (width <= 425px) {
  .p-menu menu > li h2 {
    font-size: 1.5rem;
  }
}
@container (width <=768px) {
  .p-menu menu > li h2 {
    position: absolute;
    z-index: 2;
    top: 50%;
    transform: translate(0, -50%);
  }
}
.p-menu menu > li h2 i {
  margin-right: 1rem;
}
@container (width <= 768px) {
  .p-menu menu > li h2 i {
    display: none;
  }
}
.p-menu menu > li ul {
  position: relative;
  z-index: 2;
}
@container (width <=768px) {
  .p-menu menu > li ul {
    display: none;
  }
}
.p-menu menu > li ul > li {
  border-bottom: 1px solid #fff;
}
.p-menu menu > li ul > li a {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}
.p-menu menu > li .c-btn-menu {
  position: relative;
  z-index: 2;
}
@container (width <=768px) {
  .p-menu menu > li .c-btn-menu {
    border: none;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}
@container (width <=768px) {
  .p-menu menu > li .c-btn-menu span {
    display: none;
  }
}
.p-menu menu > li .c-btn-menu i {
  font-size: 1.5rem;
}
@container (width <=768px) {
  .p-menu menu > li .c-btn-menu i {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
  }
}
.p-menu menu > li svg {
  position: absolute;
  bottom: 0;
  right: 0;
  height: calc(100% - 1rem);
  width: 50%;
  opacity: 0.2;
  z-index: 1;
  fill: #fff;
}
.p-menu menu > li:nth-child(1) {
  grid-area: on;
}
.p-menu menu > li:nth-child(2) {
  grid-area: tw;
}
.p-menu menu > li:nth-child(3) {
  grid-area: th;
}
.p-menu menu > li:nth-child(4) {
  grid-area: fo;
}
.p-menu menu > li:nth-child(5) {
  grid-area: fi;
}
.p-menu menu > li:nth-child(6) {
  grid-area: si;
}

.dropdown {
  font-weight: bold;
}
.dropdown li {
  position: relative;
}
.dropdown li svg {
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
}
.dropdown li dl {
  width: 320px;
  padding: 2rem;
  border-radius: 2rem;
  background: #fff;
  position: absolute;
  top: 3rem;
  right: -1rem;
  box-shadow: 0 0 4px #ddd;
  opacity: 0;
  pointer-events: none;
}
.dropdown li dl dt {
  padding: 1rem 0;
}
.dropdown li dl dt a {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}
.dropdown li dl dd {
  border-top: 1px solid #ddd;
  position: relative;
}
.dropdown li dl dd a {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dropdown li dl dd a:hover i {
  transform: translateX(0.5rem);
}
.dropdown li dl dd:last-child {
  border-bottom: 1px solid #ddd;
}
.dropdown li dl::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 3rem;
  top: -1.5rem;
  left: 0;
  opacity: 0.3;
}
.dropdown li dl::after {
  content: "";
  position: absolute;
  top: -3rem;
  right: 1.75rem;
  z-index: 2;
  display: inline-block;
  border-top: 1.5rem solid transparent;
  border-bottom: 1.5rem solid #fff;
  border-left: 1.5rem solid transparent;
  border-right: 1.5rem solid transparent;
}
.dropdown li:hover dl {
  display: block;
  opacity: 1;
  pointer-events: auto;
}
.dropdown li:nth-child(1) svg {
  fill: #68c25c;
}
.dropdown li:nth-child(1) i {
  color: #68c25c;
}
.dropdown li:nth-child(2) svg {
  fill: #69c3d1;
}
.dropdown li:nth-child(2) i {
  color: #69c3d1;
}
.dropdown li:nth-child(3) svg {
  fill: #f4bb3e;
}
.dropdown li:nth-child(3) i {
  color: #f4bb3e;
}
.dropdown li:nth-child(4) svg {
  fill: #ea8b39;
}
.dropdown li:nth-child(4) i {
  color: #ea8b39;
}
.dropdown li:nth-child(5) svg {
  fill: #b18fdd;
}
.dropdown li:nth-child(5) i {
  color: #b18fdd;
}
.dropdown li:nth-child(6) svg {
  fill: #4082c4;
}
.dropdown li:nth-child(6) i {
  color: #4082c4;
}

.p-sub-aside > ul {
  width: 280px;
  position: fixed;
  right: 1rem;
  bottom: 9rem;
  opacity: 0;
  pointer-events: none;
  z-index: 2;
}
@media (min-width: 1440px) {
  .p-sub-aside > ul {
    opacity: 1;
    position: sticky;
    right: auto;
    bottom: auto;
    top: 0;
    pointer-events: auto;
    padding-top: 200px;
  }
}
.p-sub-aside > ul > li {
  padding: 1rem 1rem 1rem 0;
  font-size: 1.5rem;
  border-top: 1px solid #ddd;
  position: relative;
  z-index: 2;
}
.p-sub-aside > ul > li a {
  padding: 1rem;
  display: block;
  border-radius: 0 1rem 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.p-sub-aside > ul > li a i {
  color: #68c25c;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.p-sub-aside > ul > li a.is-actived {
  background: #68c25c;
  color: #fff;
}
.p-sub-aside > ul > li a.is-actived i {
  background: #68c25c;
  color: #fff;
  border-color: #fff;
}
.p-sub-aside > ul > li .p-drop-down {
  display: grid;
  grid-template-rows: 0fr;
}
.p-sub-aside > ul > li .p-drop-down > div {
  overflow: hidden;
}
.p-sub-aside > ul > li:hover .p-drop-down {
  grid-template-rows: 1fr;
}
.p-sub-aside > ul > li:last-child a {
  justify-content: center;
}
.p-sub-aside > ul > li:last-child a i {
  margin-right: 0.5rem;
}
.p-sub-aside .mask {
  background: rgba(221, 221, 221, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  opacity: 0;
  pointer-events: none;
}
.p-sub-aside button {
  position: fixed;
  bottom: 5rem;
  right: 1rem;
  z-index: 2;
}
@media (min-width: 1440px) {
  .p-sub-aside button {
    display: none;
  }
}
.p-sub-aside.is-clicked ul {
  position: fixed;
  opacity: 1;
  pointer-events: auto;
}
.p-sub-aside.is-clicked ul li {
  border-top: 1px solid #fff;
}
.p-sub-aside.is-clicked ul li a {
  border-radius: 1rem;
}
.p-sub-aside.is-clicked .mask {
  opacity: 1;
  pointer-events: auto;
}
.p-sub-aside.is-clicked button > div {
  transform: translateY(-5rem);
}

.p-time-info__left {
  background: #fff;
  padding: 1rem;
  border-radius: 1rem;
  display: grid;
  gap: 1rem;
  grid-template: "h h" "t t" "f f" "... a"/1fr auto;
}
@media (min-width: 768px) {
  .p-time-info__left {
    padding: 1.5rem;
  }
}
@media (min-width: 1024px) {
  .p-time-info__left {
    padding: 2rem;
  }
}
@media (min-width: 1440px) {
  .p-time-info__left {
    padding: 2.5rem;
  }
}
@media (min-width: 768px) {
  .p-time-info__left {
    gap: 1.5rem;
  }
}
@media (min-width: 1024px) {
  .p-time-info__left {
    gap: 2rem;
  }
}
@media (min-width: 1440px) {
  .p-time-info__left {
    gap: 2.5rem;
  }
}
.p-time-info__left h2 {
  grid-area: h;
}
.p-time-info__left h2 i {
  margin-right: 1rem;
}
.p-time-info__left .table {
  grid-area: t;
}
.p-time-info__left .table table {
  border-collapse: collapse;
  border: 1px solid #ddd;
  width: 100%;
  text-align: center;
  font-weight: bold;
}
.p-time-info__left .table table thead {
  background: #ccc;
}
.p-time-info__left .table table thead tr th {
  padding: 0.5rem;
}
.p-time-info__left .table table thead tr th + th {
  border-left: 1px solid #ddd;
}
.p-time-info__left .table table tbody tr td {
  padding: 0.5rem;
}
.p-time-info__left .table table tbody tr td + td {
  border-left: 1px dashed #ccc;
}
.p-time-info__left .table table tbody tr + tr {
  border-top: 1px solid #ddd;
}
.p-time-info__left footer {
  grid-area: f;
}
.p-time-info__left footer p {
  margin-top: 1rem;
}
.p-time-info__left footer p:nth-child(2) {
  color: red;
}
.p-time-info__left a {
  grid-area: a;
}

.p-tab-menu .tab-buttons {
  display: flex;
}
.p-tab-menu .tab-buttons li {
  flex: 1;
}
.p-tab-menu .tab-buttons li a {
  width: 100%;
  border-radius: 1rem 1rem 0 0;
  padding: 1rem;
  text-align: center;
  background: #ddd;
  border: 4px solid #ddd;
  border-bottom: none;
}
.p-tab-menu .tab-buttons li a.is-actived {
  border: 4px solid #68c25c;
  border-bottom: none;
  background: #e0f3de;
}
.p-tab-menu .tab-contents {
  border-top: none;
}
.p-tab-menu .tab-contents > li {
  padding: 1rem;
  background: #e0f3de;
  border-radius: 0 0 1rem 1rem;
  display: none;
}
.p-tab-menu .tab-contents > li ol {
  padding-left: 4rem;
  position: relative;
  counter-reset: number;
}
.p-tab-menu .tab-contents > li ol li {
  position: relative;
  counter-increment: number;
  padding-bottom: 1rem;
}
.p-tab-menu .tab-contents > li ol li::before {
  content: counter(number);
  color: #68c25c;
  width: 2rem;
  height: 2rem;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  top: 0rem;
  left: -2rem;
  transform: translate(-50%, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.p-tab-menu .tab-contents > li ol li:not(:last-child)::after {
  content: "";
  display: block;
  background: #ddd;
  width: 1px;
  height: 100%;
  position: absolute;
  top: 0;
  left: -2rem;
  z-index: 1;
}
.p-tab-menu .tab-contents > li.is-actived {
  display: block;
}

.u-d-none {
  display: none;
}

@media (min-width: 768px) {
  .u-d-md-block {
    display: block;
  }
}

@media (min-width: 768px) {
  .u-d-md-none {
    display: none;
  }
}

@media (min-width: 768px) {
  .u-d-md-table {
    display: table;
  }
}

@media (min-width: 768px) {
  .u-d-md-inline-block {
    display: inline-block;
  }
}

.u-color-red {
  color: red;
}

/* main */
main {
  position: relative;
  z-index: 1;
  padding-bottom: 100px;
}

/* #hero */
#hero {
  margin-top: 5rem;
}
#hero .carousel {
  aspect-ratio: 1;
  margin: 1rem 0;
  border-radius: 2rem;
  position: relative;
  overflow: hidden;
}
@media (min-width: 768px) {
  #hero .carousel {
    aspect-ratio: auto;
    height: calc(100vh - 7rem);
  }
}
@media (min-width: 1440px) {
  #hero .carousel {
    width: calc(100% - 320px - 1rem);
  }
}
#hero .carousel img {
  position: absolute;
  top: 0;
  left: 0;
  animation: carousel 15s infinite;
  opacity: 0;
  z-index: 1;
}
#hero .carousel img:nth-child(2) {
  animation-delay: 5s;
}
#hero .carousel img:nth-child(3) {
  animation-delay: 10s;
}
#hero .carousel h2 {
  font-size: 1rem;
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  z-index: 2;
  color: #fff;
  text-shadow: 1px 1px 2px #000;
}
@media (min-width: 768px) {
  #hero .carousel h2 {
    font-size: 2rem;
  }
}

/* #sp-only */
#sp-only ul:nth-child(2) {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}
#sp-only ul:nth-child(2) li {
  flex: 1;
}
#sp-only ul:nth-child(2) li a {
  width: 100%;
}

/* #important */
#important li + li {
  margin-top: 1rem;
}
#important li a {
  padding: 1rem;
  border: 1px solid rgb(216, 1, 1);
  border-radius: 2rem;
  color: rgb(216, 1, 1);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
#important li a h2 {
  font-size: 2rem;
  width: 100%;
}
@media (min-width: 1024px) {
  #important li a h2 {
    width: auto;
  }
}
#important li a h2 i {
  margin-right: 0.5rem;
}
#important li a h3 {
  font-size: 1.5rem;
  flex: 1;
  margin-left: 1rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
#important li a h3 time {
  margin-right: 1rem;
  font-size: 1rem;
  width: 100%;
}
@media (min-width: 768px) {
  #important li a h3 time {
    width: auto;
  }
}
#important li a h3 i {
  margin-left: auto;
  display: none;
}
@media (min-width: 1024px) {
  #important li a h3 i {
    display: block;
  }
}

/* #pick-up */
#pick-up {
  display: grid;
  gap: 1rem;
  grid-template: "h" auto "f" auto "c" auto/100%;
}
@media (min-width: 768px) {
  #pick-up {
    gap: 1.5rem;
  }
}
@media (min-width: 1024px) {
  #pick-up {
    gap: 2rem;
  }
}
@media (min-width: 1440px) {
  #pick-up {
    gap: 2.5rem;
  }
}
@media (min-width: 1440px) {
  #pick-up {
    grid-template: "h c" auto "f c" 1fr/calc((100% - 3rem) * 0.4) calc((100% - 3rem) * 0.6);
  }
}
#pick-up header {
  background: #4082C4;
  grid-area: h;
  display: flex;
  gap: 1rem;
  align-items: center;
  color: #fff;
  border-radius: 1rem;
  padding: 1rem 2rem;
}
#pick-up header > i {
  font-size: 3rem;
  width: 5rem;
  height: 5rem;
}
#pick-up header h2 {
  font-size: 1.5rem;
}
#pick-up header h2 i {
  margin-left: 1rem;
  display: none;
}
@media (min-width: 768px) {
  #pick-up header h2 i {
    display: inline-block;
  }
}
#pick-up form {
  border-radius: 1rem;
  background: #fff;
  grid-area: f;
  padding: 2rem;
}
#pick-up form fieldset {
  margin-bottom: 2rem;
  display: block;
}
#pick-up form fieldset legend {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  font-weight: bold;
}
@media (min-width: 768px) {
  #pick-up form fieldset legend {
    gap: 1.5rem;
  }
}
@media (min-width: 1024px) {
  #pick-up form fieldset legend {
    gap: 2rem;
  }
}
@media (min-width: 1440px) {
  #pick-up form fieldset legend {
    gap: 2.5rem;
  }
}
#pick-up form fieldset .input {
  display: flex;
}
#pick-up form fieldset .input input {
  padding: 0 1rem;
  height: 3rem;
  display: inline-block;
  width: calc(100% - 70px);
  border-left: 2px solid #ddd;
  border-right: none;
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
  border-radius: 0.5rem 0 0 0.5rem;
}
#pick-up form fieldset .input button {
  background: rgb(87, 87, 255);
  color: #fff;
  height: 3rem;
  width: 70px;
  text-align: center;
  border-radius: 0 0.5rem 0.5rem 0;
}
#pick-up form dl {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
#pick-up form dl dt {
  width: 100%;
}
#pick-up .carousel {
  grid-area: c;
  aspect-ratio: 16/9;
  border-radius: 2rem;
  overflow: hidden;
  position: relative;
  z-index: -1;
}
#pick-up .carousel .swiper {
  width: 100%;
  height: auto;
}

/* #bottom */
#bottom ul {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  #bottom ul {
    gap: 1.5rem;
  }
}
@media (min-width: 1024px) {
  #bottom ul {
    gap: 2rem;
  }
}
@media (min-width: 1440px) {
  #bottom ul {
    gap: 2.5rem;
  }
}
#bottom ul li {
  display: flex;
  flex-wrap: wrap;
  border-radius: 1rem;
  overflow: hidden;
  background: #fff;
  width: 100%;
}
@media (min-width: 1440px) {
  #bottom ul li {
    flex: 1;
  }
}
#bottom ul li .left {
  width: 100%;
}
@media (min-width: 768px) {
  #bottom ul li .left {
    flex: 1;
  }
}
#bottom ul li .left img {
  object-fit: cover;
}
#bottom ul li .right {
  padding: 1rem;
  width: 100%;
  display: grid;
  gap: 1rem;
}
@media (min-width: 768px) {
  #bottom ul li .right {
    padding: 1.5rem;
  }
}
@media (min-width: 1024px) {
  #bottom ul li .right {
    padding: 2rem;
  }
}
@media (min-width: 1440px) {
  #bottom ul li .right {
    padding: 2.5rem;
  }
}
@media (min-width: 768px) {
  #bottom ul li .right {
    flex: 1;
  }
}
@media (min-width: 768px) {
  #bottom ul li .right {
    gap: 1.5rem;
  }
}
@media (min-width: 1024px) {
  #bottom ul li .right {
    gap: 2rem;
  }
}
@media (min-width: 1440px) {
  #bottom ul li .right {
    gap: 2.5rem;
  }
}
#bottom ul li .right hgroup {
  align-self: center;
}
#bottom ul li .right hgroup h2 {
  font-size: 1.5rem;
}
#bottom ul li .right hgroup p {
  margin-top: 1rem;
}
#bottom ul li .right a {
  margin-left: auto;
  align-self: flex-end;
}

/* #event-news */
#event-news {
  background: #fff;
  padding: 1rem;
  border-radius: 2rem;
  display: grid;
  gap: 1rem;
  grid-template: "left" auto "right" auto "btn" auto/1fr;
}
@media (min-width: 768px) {
  #event-news {
    padding: 1.5rem;
  }
}
@media (min-width: 1024px) {
  #event-news {
    padding: 2rem;
  }
}
@media (min-width: 1440px) {
  #event-news {
    padding: 2.5rem;
  }
}
@media (min-width: 768px) {
  #event-news {
    gap: 1.5rem;
  }
}
@media (min-width: 1024px) {
  #event-news {
    gap: 2rem;
  }
}
@media (min-width: 1440px) {
  #event-news {
    gap: 2.5rem;
  }
}
@media (min-width: 768px) {
  #event-news {
    grid-template: "left right" auto "btn btn" auto/1fr 1fr;
  }
}
@media (min-width: 1440px) {
  #event-news {
    grid-template: "left right btn" auto/1fr 1fr 1fr;
  }
}
#event-news dl {
  grid-area: left;
}
#event-news dl dt {
  font-size: 2rem;
  margin-bottom: 2rem;
}
#event-news dl dt i {
  margin-right: 1rem;
}
#event-news dl dd a {
  display: flex;
  flex-wrap: wrap;
}
#event-news dl dd a time {
  border-top: 1px solid #ddd;
  padding: 1rem 0 0 0;
  width: 100%;
}
@media (min-width: 768px) {
  #event-news dl dd a time {
    padding: 1rem 0;
    width: 100px;
  }
}
#event-news dl dd a p {
  padding: 0 0 1rem 0;
}
@media (min-width: 768px) {
  #event-news dl dd a p {
    padding: 1rem 0 1rem 1rem;
    border-top: 1px dashed #ddd;
    width: calc(100% - 100px - 1rem);
  }
}
#event-news dl dd a p::after {
  content: "NEW!";
  color: red;
}
@media (min-width: 768px) {
  #event-news dl dd:last-child a time {
    border-bottom: 1px solid #ddd;
  }
}
#event-news dl dd:last-child a p {
  border-bottom: 1px solid #ddd;
}
#event-news dl:nth-child(2) {
  grid-area: right;
}
#event-news .btn-outer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  grid-area: btn;
}

/* .info */
.time-info {
  gap: 1rem;
  display: grid;
  grid-template: "h" auto "m" auto "a" auto/1fr;
}
@media (min-width: 768px) {
  .time-info {
    gap: 1.5rem;
  }
}
@media (min-width: 1024px) {
  .time-info {
    gap: 2rem;
  }
}
@media (min-width: 1440px) {
  .time-info {
    gap: 2.5rem;
  }
}
@media (min-width: 1024px) {
  .time-info {
    grid-template: "h m" auto "h a" auto/2fr 1fr;
  }
}
.time-info .p-time-info__left {
  grid-area: h;
}
.time-info > a {
  color: #fff;
  font-size: 2rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../img/info/book.jpg") center/cover;
  grid-area: a;
}
.time-info > a span {
  text-align: center;
  background: rgba(170, 170, 170, 0.8);
  border-radius: 1rem;
  display: block;
  padding: 1rem 0;
  margin: 1rem 0;
  width: 70%;
  max-width: 300px;
}
.time-info > a span i {
  display: block;
}
.time-info > a:nth-child(3) {
  grid-area: m;
}

/*# sourceMappingURL=style.css.map */
